
<div class="container mt-3">
  <div class="bs-example">
    <marquee behavior="scroll" scrollamount="20" style="color:white;background-color: green;" direction="left">Here is some scrolling text... right to left!</marquee>
    <nav class="navbar navbar-expand-md navbar-toggler bg-light" style="border-bottom-color:black ;">
        <a href="#" class="navbar-brand"><img src="assets/OIP.jpg" width="75"></a>
        <h4>Welcome to SmallBasket </h4>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" col offset-1 navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a class="nav-link" routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i>BuyNow</a>
                <a class="nav-link" routerLink="/contact-create">Create</a>
                <a class="nav-link" routerLink="/contact-list"><i class="fa fa-phone" aria-hidden="true"></i>ContactUs</a>
                <a  routerLink="/login" class="nav-link"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
            </div>
            
            <div class="navbar-nav ml-auto">
                
                <a class="nav-link" routerLink="/contact-create">Cart<span><img src="assets/a.jpg" width=50></span></a>
            </div>
        </div>
       
    </nav>
    
    
    

 
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>
