.mynavstyle{

    color: green;
}

#navbarCollapse a {
    color:#009900;
    }

    #navbarCollapse a:hover {
        color:009900;

    font-weight: 500;
text-decoration: underline;}

h4{
font-family: Harlow,Solid,Italic;
}